---
layout: default
---

<h1>
  {{ page.title }}
</h1>

{% if page.image %}
  <img src="{{ site.github.url }}/assets/img/{{ page.image }}">
{% endif %}

{{ content }}

<span class="post-date">
  {% assign d = page.date | date: "%-d"  %}
  {% case d %}
    {% when '1' %} Primero
    {% else %}{{ d }}
  {% endcase %} de
  {% assign m = page.date | date: "%-m" %}
  {% case m %}
    {% when '1' %}Enero
    {% when '2' %}Febrero
    {% when '3' %}Marzo
    {% when '4' %}Abril
    {% when '5' %}Mayo
    {% when '6' %}Junio
    {% when '7' %}Julio
    {% when '8' %}Agosto
    {% when '9' %}Semtiebre
    {% when '10' %}Octubre
    {% when '11' %}Noviembre
    {% when '12' %}Diciembre
  {% endcase %} de
  {{ page.date | date: "%Y" }}
</span>

{% include social-sharing.html %}

{% include related-posts.html %}

{% if site.data.settings.disqus.comments %}
  {% include disqus.html %}
{% endif %}
